src/main/mule/LegacyConnectorService.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="LegacyConnectorPort" service="LegacyConnectorService" wsdlLocation="LegacyConnectorService.wsdl"/>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/LegacyConnectorService/LegacyConnectorPort">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[attributes.protocolHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="getExternalContents:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
    ns0#getExternalContentsResponse: {
        ns0#sourceSystem: "legacy-lms",
        ns0#contents: [
            {
                ns0#externalContentId: "LEG-001",
                ns0#title: "Fundamentos XML",
                ns0#description: "Contenido importado desde repositorio legacy",
                ns0#category: "Legacy",
                ns0#lastModified: "2026-05-15T10:00:00",
                ns0#checksum: "chk-leg-001"
            },
            {
                ns0#externalContentId: "LEG-002",
                ns0#title: "SOAP avanzado",
                ns0#description: "Metadatos publicados por sistema heredado",
                ns0#category: "Legacy",
                ns0#lastModified: "2026-05-15T10:05:00",
                ns0#checksum: "chk-leg-002"
            }
        ]
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="synchronizeContents:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
    ns0#synchronizeContentsResponse: {
        ns0#syncId: "sync-" ++ uuid(),
        ns0#status: "SUCCESS",
        ns0#processedItems: 2,
        ns0#updatedItems: 2,
        ns0#failedItems: 0,
        ns0#startedAt: "2026-05-15T10:00:00",
        ns0#finishedAt: "2026-05-15T10:00:03",
        ns0#message: "Sincronizacion simulada con repositorio legacy completada"
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="consultContentMetadata:\soapkit-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://mtis.ua.es/elearning/legacy
---
{
    ns0#consultContentMetadataResponse: {
        ns0#metadata: {
            ns0#externalContentId: "LEG-001",
            ns0#title: "Fundamentos XML",
            ns0#description: "Metadatos de contenido externo heredado",
            ns0#category: "Legacy",
            ns0#lastModified: "2026-05-15T10:05:00",
            ns0#checksum: "chk-leg-001"
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
